doctype html
html(lang='et')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='CV for Net Group')
        meta(name='author', content='Jaan Erik Pihel')
        title=title
        // Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', rel='stylesheet')
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='vendor/devicons/css/devicons.min.css', rel='stylesheet')
        link(href='vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
        // Custom styles for this template
        link(href='/stylesheets/resume.css', rel='stylesheet')
    body#page-top
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jaan Erik Pihel
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Minust
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Varasem kogemus
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Haridus
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Oskused
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Huvid
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="motivation") Motivatsioonikiri
        .container-fluid.p-0
            section#about.resume-section.p-3.p-lg-5.d-flex.d-column
                .my-auto
                    h1.mb-0
                        | Jaan Erik
                        span.text-primary  Pihel
                    .subheading.mb-5
                        | Informaatika 2. kursus · 06.04.1997 · 53446518 ·
                        a(href='mailto:jaanerik.pihel@gmail.com.com')  jaanerik.pihel@gmail.com
                    p.mb-5
                        | Ma olen Tartu Ülikooli informaatika tudeng ja tuleksin Netgroupi suveülikooli teist korda.
                        | Seekord olen läbinud tarkvara arenduse ning suveülikooli tulles ka veebirakenduste ja
                        | testimise kursused. Tunnen, et olen seekord praktikaks paremini valmistunud.
                    //ul.list-inline.list-social-icons.mb-0
                    //    li.list-inline-item
                    //        a(href='#')
                    //            span.fa-stack.fa-lg
                    //                i.fa.fa-circle.fa-stack-2x
                    //                i.fa.fa-facebook.fa-stack-1x.fa-inverse
                    //    li.list-inline-item
                    //        a(href='#')
                    //            span.fa-stack.fa-lg
                    //                i.fa.fa-circle.fa-stack-2x
                    //                i.fa.fa-twitter.fa-stack-1x.fa-inverse
                    //    li.list-inline-item
                    //        a(href='#')
                    //            span.fa-stack.fa-lg
                    //                i.fa.fa-circle.fa-stack-2x
                    //                i.fa.fa-bitbucket.fa-stack-1x.fa-inverse
                    //    li.list-inline-item
                    //        a(href='#')
                    //            span.fa-stack.fa-lg
                    //                i.fa.fa-circle.fa-stack-2x
                    //                i.fa.fa-github.fa-stack-1x.fa-inverse
            section#experience.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Kogemus
                    p
                        | Kogemus kahjuks piirdub eelmise aasta suveülikooli ning erinevate kursustega ülikoolis,
                        | millest asjalikumad tooksin välja:
                    ul
                        li Objektorienteeritud programmeerimine
                        li Java harjutuste valikained
                        li Tarkvaratehnika
                        li Veebirakenduste loomine
                        li Tarkvaratestimine
                        li Andmebaasid
            section#education.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Haridus
                    .resume-item.d-flex.flex-column.flex-md-row.mb-5
                        .resume-content.mr-auto
                            h3.mb-0 Tartu Ülikool
                            .subheading.mb-3 Arvutiteaduse instituut
                            div Informaatika
                            p GPA: 4.5
                        .resume-date.text-md-right
                            span.text-primary September 2016
                    .resume-item.d-flex.flex-column.flex-md-row
                        .resume-content.mr-auto
                            h3.mb-0 Columbia University
                            .subheading.mb-3 Suvekursus "Introduction to Modern Mathematics"
                        .resume-date.text-md-right
                            span.text-primary Juuni - Juuli 2015
                    .resume-item.d-flex.flex-column.flex-md-row
                        .resume-content.mr-auto
                            h3.mb-0 Vanalinna Hariduskolleegium
                            .subheading.mb-3 Reaalklass - Lõpetamine kuldmedaliga
                        .resume-date.text-md-right
                            span.text-primary 2013 - 2016
                    .resume-item.d-flex.flex-column.flex-md-row
                        .resume-content.mr-auto
                            h3.mb-0 Püünsi Põhikool
                            .subheading.mb-3 Ĺõpetamine kiitusega
                        .resume-date.text-md-right
                            span.text-primary 2004 - 2013
            section#skills.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Oskused
                    .subheading.mb-3 Programmeerimine
                    ul.list-inline.list-icons
                        li.list-inline-item
                            i.devicons.devicons-html5
                        li.list-inline-item
                            i.devicons.devicons-css3
                        li.list-inline-item
                            i.devicons.devicons-javascript
                        li.list-inline-item
                            i.devicons.devicons-jquery
                        li.list-inline-item
                            i.devicons.devicons-bootstrap
                        li.list-inline-item
                            i.devicons.devicons-npm
                        li.list-inline-item
                            i.devicons.devicons-nodejs
                        li.list-inline-item
                            i.devicons.devicons-java


                    .subheading.mb-3 Keeled
                    ul.fa-ul.mb-0
                        li
                            |               Eesti keel
                        li
                            |               Inglise keel
            section#interests.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Huvid
                    p
                        | Mu huvid peale Tartusse kolimist on küllalt muutunud - olgu see siis olude sunnil või on
                        | lihtsalt muud asjad peale tulnud. Avastasin, et Tartus on avamerel purjetamist harrastada
                        | pisut keeruline ning peale kümmet aastat võib uusi asju proovida. Olen hakanud mängima
                        | rohkem tennist.
                    p.mb-0
                        | Samuti on mul säilinud huvi matemaatika ja male vastu. Tunnen mingil määral huvi ka pokkeri
                        | vastu - kuidas masinõppe algoritmid on muutnud
                        em  head's up
                        |  pokkeri mänguteoreetiliselt optimaalseks ning kuidas inimesed sellest õppida võiksid.
                        | Seepärast on mul ka lihtsam huvituda statistikast, matemaatikast ja masinõppest. Võtan
                        | ülikoolis vabaainetena masinõpet ning sissejuhatust arvutuslikku neuroteadusesse.
        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Plugin JavaScript
        script(src='vendor/jquery-easing/jquery.easing.min.js')
        // Custom scripts for this template
        script(src='js/resume.js')
