doctype html
html(lang='et')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='CV from template')
        meta(name='author', content='Jaan Erik Pihel')
        title=title
        // Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', rel='stylesheet')
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='vendor/devicons/css/devicons.min.css', rel='stylesheet')
        link(href='vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
        // Custom styles for this template
        link(href='/stylesheets/resume.css', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')
    body#page-top
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jaan Erik Pihel
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/') Minust
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="test.pdf") Motivatsioonikiri
        div.container#logindiv
             h2 Kuhu ma tahan saada praktikale?
             form(action="/letter" method="post")
                 input(id="parool" name="parool" type="password")
                 input(type="submit" value="Lugema")